
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VmAllSearch
<main>
    <div class="banner" style="background-image: url(images/background/@Model.Banner.Image);">
        <div class="banner-inner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-title-heading">
                            <h2 class="title">@Model.Banner.Title</h2>
                        </div>
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="index.html">Home</a>
                            </span>
                            <span>@Model.Banner.SubTitle</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="team-section clearfix">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Teams)
                {
                    <div class="ttm-box-col-wrapper col-lg-3 col-md-3 col-sm-6" style=" margin: 0 0 30px; ">
                        <div class="featured-imagebox featured-imagebox-team">
                            <div class="ttm-team-box-view-overlay">
                                <div class="featured-iconbox ttm-media-link">
                                    <div class="media-block">
                                        <a asp-controller="Team" asp-action="Detail" asp-route-id="@item.Id" class="media-btn"><i style=" line-height: 2.5;" class="fal fa-plus"></i></a>
                                        <ul class="social-icons list-inline">
                                            @foreach (var social in item.TeamSocials)
                                            {
                                                <li class="social-facebook"><a><i class="@social.Icon"></i></a></li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="images/about/@item.Image" alt="image">
                                </div>
                            </div>
                            <div class="featured-content featured-content-team">
                                <div class="featured-title">
                                    <h5><a asp-controller="Team" asp-action="Detail" asp-route-Id="@item.Id">@item.Fullname</a></h5>
                                </div>
                                <div class="team-position">@item.Position</div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>

</main>

