
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VmAllSearch
<main>
    <partial name="_BannerPartial" model="Model.Banner" />


    <section class="team-section clearfix">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Teams)
                {
                    <div class="ttm-box-col-wrapper col-lg-3 col-md-3 col-sm-6" style=" margin: 0 0 30px; ">
                        <div class="featured-imagebox featured-imagebox-team">
                            <div class="ttm-team-box-view-overlay">
                                <div class="featured-iconbox ttm-media-link">
                                    <div class="media-block">
                                        <a asp-controller="Team" asp-action="Detail" asp-route-id="@item.Id" class="media-btn"><i style=" line-height: 2.5;" class="fal fa-plus"></i></a>
                                        <ul class="social-icons list-inline">
                                            @foreach (var social in item.TeamSocials)
                                            {
                                                <li class="social-facebook"><a href="https://@social.Link/"> <i class="@social.Icon"></i></a></li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="~/Uploads/@item.Image" alt="image">
                                </div>
                            </div>
                            <div class="featured-content featured-content-team">
                                <div class="featured-title">
                                    <h5><a asp-controller="Team" asp-action="Detail" asp-route-Id="@item.Id">@item.Fullname</a></h5>
                                </div>
                                <div class="team-position">@item.Position</div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>
    <div class="pagination-team" style=" margin-top: -114px; text-align: center;">
        <ul style="margin:28px;padding:0;">
            @if (ViewBag.PageCount != 1)
            {
                @if (ViewBag.Page <= 1)
                { }
                else
                {
                    <li style=" display: inline-block; transform: translateY(-10px); background-color: #3368c6; margin-right: 5px; width: 40px; height: 40px; border: 1px; text-align: center; border-radius: 50%; line-height: 2.5;" class="@(ViewBag.Page==ViewBag.PageCount?"disabled":"")"><a asp-controller="Team" asp-action="Index" asp-route-page="@(1)" style=" color: white; display: flex; height: 100%; text-align: center; justify-content: center;"><i class="fas fa-angle-double-left" style=" transform: translateY(10px);"></i></a></li>

                    <li style=" display: inline-block; transform: translateY(-10px); background-color: #3368c6; margin-right: 5px; width: 40px; height: 40px; border: 1px; text-align: center; border-radius: 50%; line-height: 2.5;" class="@(ViewBag.Page==1?"disabled":"")"><a asp-controller="Team" asp-action="Index" asp-route-page="@(ViewBag.Page-1)" style=" color: white; display: flex; height: 100%; text-align: center; justify-content: center;"><i class="fa fa-angle-left" style=" transform: translateY(10px);"></i></a></li>
                }
                @for (int i = 0; i < ViewBag.PageCount; i++)
                {
                    <li style=" display: inline-block; background-color: #3368c6; margin-right: 5px; width: 40px; height: 40px; border: 1px ; text-align: center; border-radius: 50%; line-height: 2.5;" class="@(ViewBag.Page==(i+1)?"active-btn-page":"")"><a asp-controller="Team" asp-action="Index" asp-route-page="@(i+1)" style=" color: white;">0@(i+1)</a></li>
                }
                @if (ViewBag.Page >= ViewBag.PageCount)
                { }
                else
                {
                    <li style=" display: inline-block; transform: translateY(-10px); background-color: #3368c6; margin-right: 5px; width: 40px; height: 40px; border: 1px; text-align: center; border-radius: 50%; line-height: 2.5;" class="@(ViewBag.Page==ViewBag.PageCount?"disabled":"")"><a asp-controller="Team" asp-action="Index" asp-route-page="@(ViewBag.Page+1)" style=" color: white; display: flex; height: 100%; text-align: center; justify-content: center;"><i class="fas fa-angle-right" style=" transform: translateY(10px);"></i></a></li>
                }
                <li style=" display: inline-block; transform: translateY(-10px); background-color: #3368c6; margin-right: 5px; width: 40px; height: 40px; border: 1px; text-align: center; border-radius: 50%; line-height: 2.5;" class="@(ViewBag.Page==ViewBag.PageCount?"disabled":"")"><a asp-controller="Team" asp-action="Index" asp-route-page="@(ViewBag.PageCount)" style=" color: white; display: flex; height: 100%; text-align: center; justify-content: center;"><i class="fas fa-angle-double-right" style=" transform: translateY(10px);"></i></a></li>
            }

        </ul>
    </div>
</main>

