
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@model List<Partner>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center mb-4" style="font-size: 30px !important;">Partner </h4>
                @{ if (TempData["PartnerError"] != null)
                    {
                        <p style="font-size: 20px !important; padding: 15px !important;" class="alert text-center text-warning">@TempData["PartnerError"]</p> TempData["PartnerError"] = null;
                    } }

            <a class="btn btn-light mb-3 px-5" asp-area="admin" asp-controller="Partner" asp-action="Create">Add A New Partner</a>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="tableTrCustom">
                                    #
                                </th>
                                <th class="tableTrCustom">
                                    Name
                                </th>
                                <th class="tableTrCustom">
                                    HoverName
                                </th>                             
                                <th class="tableTrCustom">
                                    Edit
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int counter = 0;
                                foreach (var item in Model)
                                {
                                    counter++;
                                    <tr>
                                        <td style="vertical-align: middle !important; font-size: 15px !important; font-weight: 500 !important;">
                                            @counter
                                        </td>
                                        <td style="vertical-align: middle !important; font-size: 15px !important; font-weight: 500 !important;">
                                            @item.Name
                                        </td>
                                        <td style="vertical-align: middle !important; font-size: 15px !important; font-weight: 500 !important;">
                                            @item.HoverName
                                        </td>                                     
                                        <td style="vertical-align: middle !important;">
                                            <a class="mb-2 w-50 btn-sm btn btn-outline-success" asp-route-id="@item.Id" asp-area="admin" asp-controller="Partner" asp-action="Update">Update</a>
                                            <br>
                                            <a class="w-50 btn-sm btn btn-outline-danger" asp-route-id="@item.Id" asp-area="admin" asp-controller="Partner" asp-action="Delete" onclick="return confirm('Are you sure?')">Delete</a>
                                        </td>
                                    </tr>
                                } }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


