
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@model Setting

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div style=" font-size: 30px !important;" class="text-center card-title">Update Settings</div>
                <hr>
                @{ if (TempData["SettingError"] != null)
                                {
                    <p style="font-size: 20px !important; padding: 15px !important;" class="alert text-center text-warning">@TempData["SettingError"]</p> TempData["SettingError"] = null;
                                } }
            <form class="row" asp-controller="SiteSetting" asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="form-group col-lg-6">
                    <label asp-for="Phone1">Phone1</label>
                    <input asp-for="Phone1" type="tel" class="form-control" placeholder="Phone1">
                    <span class="text-warning" asp-validation-for="Phone1"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="Phone2">Phone2</label>
                    <input asp-for="Phone2" type="tel" class="form-control" placeholder="Phone2 ">
                    <span class="text-warning" asp-validation-for="Phone2"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="Email1">Email1</label>
                    <input asp-for="Email1" type="email" class="form-control" placeholder="Email1 ">
                    <span class="text-warning" asp-validation-for="Email1"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="Email2">Email2</label>
                    <input asp-for="Email2" type="email" class="form-control" placeholder="Email2 ">
                    <span class="text-warning" asp-validation-for="Email2"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" class="form-control" placeholder="Address">
                    <span class="text-warning" asp-validation-for="Address"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="Foundername">Foundername</label>
                    <input asp-for="Foundername" class="form-control" placeholder="Foundername">
                    <span class="text-warning" asp-validation-for="Foundername"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="Founderposition">Founderposition</label>
                    <input asp-for="Founderposition" class="form-control" placeholder="Founderposition">
                    <span class="text-warning" asp-validation-for="Founderposition"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="WorkHours">WorkHours</label>
                    <input asp-for="WorkHours" class="form-control" placeholder="WorkHours">
                    <span class="text-warning" asp-validation-for="WorkHours"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="MapLink">MapLink</label>
                    <input asp-for="MapLink" class="form-control" placeholder="MapLink">
                    <span class="text-warning" asp-validation-for="MapLink"></span>
                </div>

                <div class="form-group col-lg-10 my-3" style=" margin-left: auto !important; margin-right: auto !important;">
                    <label style=" width: 100% !important; text-align: center !important;" asp-for="Info">Info </label>
                    <textarea asp-for="Info" type="text" class="form-control" rows="7" placeholder="Info "></textarea>
                    <span class="text-warning" asp-validation-for="Info"></span>
                </div>
                <div class="form-group col-lg-10 my-3" style=" margin-left: auto !important; margin-right: auto !important;">
                    <label style=" width: 100% !important; text-align: center !important;" asp-for="About">About </label>
                    <textarea asp-for="About" type="text" class="form-control" rows="7" placeholder="Info "></textarea>
                    <span class="text-warning" asp-validation-for="About"></span>
                </div>
                <div class="form-group col-lg-12 mt-5">
                    <label class="w-25 btn btn-outline-white" asp-for="LogoFile">Choose Logo</label>
                    <input asp-for="LogoFile" class="d-none form-control w-50">
                </div>
                <div class="form-group col-lg-12 mt-5">
                    <label class="w-25 btn btn-outline-white" asp-for="SignatureFile">Choose Signature</label>
                    <input asp-for="SignatureFile" class="d-none form-control w-50">
                </div>
                <div class="form-group col-lg-12">
                    <label class="w-25 btn btn-outline-white" asp-for="FooterBgImageFile">Choose Footer Background Image</label>
                    <input asp-for="FooterBgImageFile" class="d-none form-control w-50">
                </div>
                <div class="form-group col-lg-12">
                    <label class="w-25 btn btn-outline-white" asp-for="AboutImageFile">Choose Footer About Image</label>
                    <input asp-for="AboutImageFile" class="d-none form-control w-50">
                </div>
                <div class="form-group" style=" margin-left: auto !important; margin-right: auto !important;">
                    <input type="hidden" asp-for="@Model.Id">
                    <input type="hidden" asp-for="@Model.Logo">
                    <input type="hidden" asp-for="@Model.Signature">
                    <input type="hidden" asp-for="@Model.FooterBgImage">
                    <input type="hidden" asp-for="@Model.AboutImage">
                    <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i> Save Changes </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

