
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@model List<Testimonial>


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center" style="font-size: 30px !important;">Testimonial</h4>
                @{ if (TempData["TestimonialError2"] != null)
                                {
                    <p style="font-size: 20px !important; padding: 15px !important;" class="alert text-center text-warning">@TempData["TestimonialError2"]</p> TempData["TestimonialError2"] = null;
                                } }
            <a class="btn btn-light mb-3 px-5" asp-area="admin" asp-controller="Testimonial" asp-action="Create">Add A New Testimonial</a>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="tableTrCustom">
                                    #
                                </th>
                                <th class="tableTrCustom">
                                    Image
                                </th>
                                <th class="tableTrCustom">
                                    Quote
                                </th>
                                <th class="tableTrCustom">
                                    Description
                                </th>
                                <th class="tableTrCustom">
                                    FullName
                                </th>
                                <th class="tableTrCustom">
                                    Profession
                                </th>
                                <th class="tableTrCustom">
                                    Edit
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int counter = 0;
                                            foreach (var item in Model)
                                            {
                                                counter++;
                                                        <tr>
                                                            <td style="vertical-align: middle !important; font-size: 18px !important; font-weight: 500 !important;">
                                                                @counter
                                                            </td>
                                                            <td class="py-1" style="vertical-align: middle !important; width: 300px !important; height: 100px !important;">
                                                                <img style="border-radius: unset !important; width: 100% !important; height: 100% !important; object-fit: contain !important;" src="~/Areas/assets/images/@item.Image" alt="image" />
                                                            </td>
                                                            <td style="vertical-align: middle !important; width: 250px !important; font-size: 18px !important; font-weight: 500 !important;">
                                                                @item.Quote
                                                            </td>
                                                            <td style="vertical-align: middle !important; font-size: 18px !important; font-weight: 500 !important;">
                                                                @item.Description
                                                            </td>
                                                            <td style="vertical-align: middle !important; font-size: 18px !important; font-weight: 500 !important;">
                                                                @item.Fullname
                                                            </td>
                                                            <td style="vertical-align: middle !important; font-size: 18px !important; font-weight: 500 !important;">
                                                                @item.Profession
                                                            </td>
                                                            <td style="vertical-align: middle !important; ">
                                                                <a class="mb-2 w-50 btn-sm btn btn-outline-success" asp-route-id="@item.Id" asp-area="admin" asp-controller="Testimonial" asp-action="Update">Update</a>
                                                                <br>
                                                                <a class="w-50 btn-sm btn btn-outline-danger" asp-route-id="@item.Id" asp-area="admin" asp-controller="Testimonial" asp-action="Delete" onclick="return confirm('Are you sure?')">Delete</a>
                                                            </td>
                                                        </tr>
                                            }
                                              }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


