
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VmContact
<main>
    <div class="banner" style="background-image: url(images/background/@Model.Banner.Image);">
        <div class="banner-inner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="page-title-heading">
                            <h2 class="title">@Model.Banner.Title</h2>
                        </div>
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="index.html">Home</a>
                            </span>
                            <span>@Model.Banner.SubTitle</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="contact pt-0 pb-50 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="pt-45 ">
                        <div class=" title mb-30">
                            <h4>Our Office Inforamtion</h4>
                        </div>
                        <div class="contact-box " style=" margin: 26px;">
                            <div class="contact-icon">
                                <div class="ttm-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                            </div>
                            <div class="contact-content">
                                <div class="contact-title">
                                    <h5>Location</h5>
                                </div>
                                <div class="contact-desc">
                                    <p>@Model.Setting.Address</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="contact-box " style=" margin: 26px;">
                            <div class="contact-icon">
                                <div class="ttm-icon">
                                    <i class="fas fa-phone-volume"></i>
                                </div>
                            </div>
                            <div class="contact-content">
                                <div class="contact-title">
                                    <h5>Call Us</h5>
                                </div>
                                <div class="contact-desc">
                                    <p>24/7 Support<br>@Model.Setting.Phone2</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="contact-box " style=" margin: 26px;">
                            <div class="contact-icon">
                                <div class="ttm-icon ">
                                    <i class="far fa-envelope"></i>
                                </div>
                            </div>
                            <div class="contact-content">
                                <div class="contact-title">
                                    <h5>Email</h5>
                                </div>
                                <div class="contact-desc">
                                    <a href="mailto:info@Laboratory.com">@Model.Setting.Email1</a><br>
                                    <a href="mailto:info@Laboratory.com">@Model.Setting.Email2</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <aside class="widget widget-download">
                            <ul class="download" style="list-style-type:none">
                                <li>
                                    <i class="fa fa-file-pdf-o"></i>
                                    <div>
                                        <h4>Our Brouchers</h4><a href="ContactUs/GenerateAndDownloadZip" target="_blank">Download</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-file-pdf-o"></i>
                                    <div>
                                        <h4>Laboratory Details</h4><a href="ContactUs/LabDetailAndDownloadZip" target="_blank">Download</a>
                                    </div>
                                </li>
                            </ul>
                        </aside>
                        <ul class="social-icons circle social-hover mt-60">
                            @foreach (var item in Model.SiteSocials)
                            {
                                <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="@item.Name"><i class="@item.Icon" aria-hidden="true" style="line-height: 29px;"></i></a></li>

                            }

                        </ul>

                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="ttm-col-bgcolor-yes ttm-bg ttm-bgcolor-white z-index-2 spacing-5 box-shadow">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>

                        <div class="section-title with-desc clearfix">
                            <div class="title-header">
                                <h5>GET IN TOUCH</h5>
                                <h2 class="title">Do not Use This Form To Communicate Personal Data.</h2>
                            </div>
                        </div>
                     
                        <form id="ttm-contactform-2" class="ttm-contactform-2 wrap-form clearfix" method="post" asp-controller="ContactUs" asp-action="Message">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>
                                        <span class="text-input"><input name="name" type="text" value="" required="" placeholder="Your Name"></span>
                                    </label>
                                </div>
                                <div class="col-lg-6">
                                    <label>
                                        <span class="text-input"><input name="email" type="text" value="" required="" placeholder="Your Email"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>
                                        <span class="text-input"><input name="phone2" type="text" value="" required="" placeholder="Phone Number"></span>
                                    </label>
                                </div>
                                <div class="col-lg-6">
                                    <label>
                                        <span class="text-input"><input name="subject" type="text" value="" required="" placeholder="Subject"></span>
                                    </label>
                                </div>
                            </div>
                            <label>
                                <span class="text-input"><textarea name="message" type="text" rows="3" placeholder="Message"></textarea></span>
                            </label>
                            <button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" id="btn-message" type="submit">Send Message</button>
                            <br />
                            <div class="alert alert-success" style="display: none; margin-top:25px"></div>
                            <div class="alert alert-warning" style="display: none; margin-top: 25px"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="google_map " class="google_map ">
        <div class="map_container ">
            <div id="map ">
                <iframe src="@Model.Setting.MapLink"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

</main>

