@{ 

    string controller = this.ViewContext.RouteData.Values["controller"].ToString();

}
@model VmLayout
@inject AppDbContext context



<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Health & Medical Laboratory Html Template" />
    <meta name="author" content="https://www.themetechmount.com/" />
    <meta name="viewport" content=" width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="/path/to/cdn/jquery.slim.min.js"></script>
    <script src="/path/to/image-popup.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">

    <link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/css/themify-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick.css">
    @*<link rel="stylesheet" type="text/css" href="~/css/prettyPhoto.css">*@
    <link rel="stylesheet" type="text/css" href="~/css/shortcodes.css" />

    <link rel="stylesheet" type="text/css" href="~/css/megamenu.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" />
    <link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <title>Labostica</title>

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>*@

</head>



<body>

    <div class="page">


        <div class="loader_bg" style="background-image:url(/wwwroot/images/background/row-bgimage-4.png)">
            <div class="loader"></div>
        </div>

        <header id="masthead" class="header ttm-header-style-01">

            <div class="top_bar ttm-bgcolor-skincolor clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 d-flex flex-row align-items-center">
                            <div class="top_bar_contact_item">
                                <div class="top_bar_icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>@Model.Setting.Phone1
                            </div>
                            <div class="top_bar_contact_item">
                                <div class="top_bar_icon"><i class="far fa-envelope"></i></div><a href="mailto:yourdomain@gmail.com">@Model.Setting.Email1</a>
                            </div>
                            <div class="top_bar_contact_item ml-auto">
                                <div class="top_bar_icon"><i class="far fa-clock"></i></div>@Model.Setting.WorkHours
                            </div>
                            <div class="top_bar_contact_item">
                                <div class="top_bar_social">
                                    <ul class="social-icons">
                                        @foreach (var item in Model.SiteSocials)
                                        {
                                            <li>
                                                <a class="tooltip-bottom" href="https://@item.Link/"><i class="@item.Icon"></i></a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="site-header-menu" class="site-header-menu ttm-bgcolor-white">
                <div class="site-header-menu-inner ttm-stickable-header">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="site-navigation d-flex flex-row">
                                    <div class="site-branding mr-auto">
                                        <a class="home-link" title="Labostica">
                                            <img id="logo-img" class="img-center" src="~/Uploads/@Model.Setting.Logo" alt="logo-img">
                                        </a>

                                    </div>
                                    <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                        <span class="menubar-box">
                                            <span class="menubar-inner"></span>
                                        </span>
                                    </div>
                                    <nav class="main-menu menu-mobile" id="menu">
                                        <ul class="menu">
                                            <li class="mega-menu-item @(controller=="Home"?"active":"")">
                                                <a asp-controller="Home" asp-action="Index" class="mega-menu-link">Home</a>
                                            </li>
                                            <li class="mega-menu-item megamenu-fw @(controller=="AboutUs"?"active":"")">
                                                <a asp-controller="AboutUs" asp-action="Index" class="mega-menu-link ">About Us</a>
                                            </li>
                                            <li class="mega-menu-item @(controller=="Team"?"active":"")">
                                                <a asp-controller="Team" asp-action="Index" class="mega-menu-link">Doctors</a>
                                            </li>
                                            <li class="mega-menu-item @(controller=="Service"?"active":"")">
                                                <a asp-controller="Service" asp-action="Index" class="mega-menu-link">Services</a>

                                            </li>
                                            <li class="mega-menu-item @(controller=="Research"?"active":"")">
                                                <a asp-controller="Research" asp-action="Index" class="mega-menu-link">Research</a>
                                            </li>
                                            <li class="mega-menu-item @(controller=="Faq"?"active":"")">
                                                <a asp-controller="Faq" asp-action="Index" class="mega-menu-link">Faq</a>
                                            </li>
                                            <li class="mega-menu-item @(controller=="ContactUs"?"active":"")">
                                                <a asp-controller="ContactUs" asp-action="Index" class="mega-menu-link">Contact Us</a>
                                            </li>

                                        </ul>
                                    </nav>
                                    <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                                        <div class="header_btn">
                                            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-icon-btn-left ttm-btn-color-grey"> <i class="fa fa-calendar"></i>Appointment</a>
                                            <div id="appointment">
                                                <h3>Keep in touch!</h3>
                                                <form class="wrap-form appointment_form clearfix" asp-controller="Appointment" asp-action="Message" method="post">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                                    <input type="text" placeholder="Your Name" required="required" asp-for="@Model.Appointment.Name" />
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                                    <input type="tel" placeholder="Phone Number" required="required" asp-for="@Model.Appointment.Phone" />
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                    <input type="email" value="" placeholder="Email" asp-for="@Model.Appointment.Email" />
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group date">
                                                                <span class="text-input date">
                                                                    @*<i class="fa fa-calendar"></i>*@
                                                                    <input type="date" data-provide="datepicker" value="" id="datetimepicker1" autocomplete="on" asp-for="@Model.Appointment.AppointmentDate" required="required" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    <select class="form-control" type="text" style=" text-align: center;" placeholder="Doctor" asp-for="@Model.Appointment.DoctorId" required="required">
                                                                        <option value="">Please choose a doctor</option>
                                                                        @foreach (var item in context.Teams)
                                                                        {
                                                                            <option value="@item.Id">@item.Fullname</option>
                                                                        }
                                                                    </select>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="form-group">
                                                                <span class="text-input">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    <input type="text" value="" placeholder="Note" asp-for="@Model.Appointment.Note" required="required" />
                                                                </span>
                                                            </label>
                                                        </div>



                                                        <div class="col-md-4">
                                                            <button style=" margin-left: 109%;" class="submit ttm-btn myButton  ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" type="submit">Book appointment</button>

                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>

                                        <div class="header_search">
                                            <a href="#" class="btn-default search_btn"><i class="fas fa-search" style="line-height:34px"></i></a>
                                            <div class="header_search_content">
                                                <form asp-controller="Team" asp-action="Index" id="searchbox" method="post">
                                                    <input class="search_query" type="text" id="search_query_top" name="searchData" placeholder="Enter Keyword" value="">
                                                    <input asp-for="@Model.vmSearch.page" hidden />
                                                    <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="site-main">


            @RenderBody()

        </div>


        <footer class="footer widget-footer clearfix" style="background-image: url(./images/about/@Model.Setting.FooterBgImage)">
            <div class="first-footer ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 widget-area">
                            <div class="featured-icon-box ">
                                <div class="featured-icon">
                                    <div class="ttm-icon ">
                                        <i class="fas fa-envelope-open-text"></i>
                                    </div>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h5>Subscribe To Our Newsletter</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Stay in touch with us to get latest news and discount coupons</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 widget-area">
                            <form class=" footer-subscribe-form newsletter-form" id="subscribies" method="post" asp-controller="home" asp-action="Subscribe" data-id="7">
                                <div class="inputbox clearfix">
                                    <input name="email" class="email form-input subscribe-input" placeholder="Enter Your Email Address...">
                                    <button class=" sec-btn" id="submitBtn" type="submit" title="Subscribe" value="subscribe">Subscribe Now!</button>
                                </div>
                                <br />

                                <div class="alert alert-success " style="display:none"></div>
                                <div class="alert alert-warning" style="display:none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-footer">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <aside class="box">
                                <div class="box-item">
                                    <div class="featured-icon">
                                        <div class="ttm-icon">
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Address</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>@Model.Setting.Address</p>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <aside class="box">
                                <div class="box-item">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Call Us On</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Front Desk: @Model.Setting.Phone2</p>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-4">
                            <aside class="box">
                                <div class="box-item">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ">
                                            <i class="far fa-envelope"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Email Us</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p><a href="mailto:Supportteam@example.com">@Model.Setting.Email2</a></p>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="third-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 widget-area">
                            <div class="box">
                                <div class="footer-logo">
                                    <img src="~/Uploads/@Model.Setting.Logo" alt="">
                                </div>
                                <div class="boxtext">
                                    <p class="pb-10 pr-30">@Model.Setting.Info</p>
                                    <a asp-controller="AboutUs" asp-action="Index">Read More!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
                            <div class="box">
                                <h3 class="box-title">Usefull Links</h3>
                                <ul id="footer-menu">
                                    <li><a asp-controller="AboutUs" asp-action="Index">About Company</a></li>
                                    <li><a asp-controller="Research" asp-action="Index">Scientific</a></li>
                                    <li><a asp-controller="Team" asp-action="Index">Customer Insights</a></li>
                                    <li><a asp-controller="Research" asp-action="Index">Chemistry</a></li>
                                    <li><a asp-controller="Research" asp-action="Index">Gemological</a></li>
                                    <li><a asp-controller="Appointment" asp-action="Index">Free Consultation</a></li>
                                    <li><a asp-controller="Team" asp-action="Index">Meet Our Team</a></li>
                                    <li><a asp-controller="Service" asp-action="Index">Our Services</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
                            <div class="box-post">
                                <h3 class="box-title">Recent Researches</h3>
                                <ul class=" pr-5">
                                    <li>
                                        <a asp-controller="Research" asp-action="Index"><img src="~/images/about/blog-one-100x95.jpg"></a>
                                        <span class="post-date"><i class="fa fa-calendar"></i>Oct 06, 2019</span>
                                        <a asp-controller="Research" asp-action="Index">Tests with Nursing Implicat Laboratory Technician</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Research" asp-action="Index"><img src="~/images/about/blog-two-100x95.jpg"></a>
                                        <span class="post-date"><i class="fa fa-calendar"></i>Oct 24, 2019</span>
                                        <a asp-controller="Research" asp-action="Index">Tests with Nursing Implicat Laboratory Technician</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="last-footer">
                <div class="container">
                    <div class="row copyright">
                        <div class="col-sm-9">
                            <span>Copyright © 2019 Labostica Theme by <a href="https://themetechmount.com/">ThemetechMount</a></span>
                        </div>
                        <div class="col-sm-3">
                            <div class="d-flex flex-row align-items-center justify-content-end social-icons">
                                <ul class="social-icons list-inline">
                                    @foreach (var item in Model.SiteSocials)
                                    {
                                        <li class="social-facebook"><a class="tooltip-top" href="https://@item.Link/"><i class="@item.Icon"></i></a></li>

                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



        <a id="totop" href="#top"><i class="fa fa-angle-up" style="  line-height: 1.5;"></i> </a>

    </div>



    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        setTimeout(function () {
            $('.loader_bg').fadeToggle();
        }, 1500);
    </script>

    <script src="~/js/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/js/tether.min.js"></script>
    <script src="~/js/jquery.easing.js"></script>
    <script src="~/js/jquery-waypoints.js"></script>
    <script src="~/js/jquery-validate.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/numinate.min.js"></script>
    <script src="~/js/imagesloaded.min.js"></script>
    <script src="~/js/jquery-isotope.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://kit.fontawesome.com/85735e67ff.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/main.js"></script>
    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
    <!-- Magnific Popup core JS file -->
    @*<script src="magnific-popup/jquery.magnific-popup.js"></script>*@


</body>

</html>